.row {
    height: 450px;
    margin-bottom: 5px;
}
img {
    height: 100%;
    width: 100%;
}
.second-row, .third-row {
    display: flex;
    gap: 5px;
}
.second-row {
    flex: 1;
}
.second-row-third-column {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.second-row-third-column img{
    height: 220px;
}
.third-row-second-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}
.third-row > div {
flex: 1;
}